*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li{
  list-style: none;
}

.heading{
  width: 100vw;
}

.heading img{
  width: 100%;
}


.inner, .log_inner, .join_inner, .de_inner, .nav_inner{
  max-width: 1640px;
  margin: auto;
}

.inner, .log_inner, .join_inner, .de_inner{
  padding-left: 250px;
}


/* 옆 nav */
.nav_inner *{
  font-size: 20px;
  line-height: 2;
}

.nav_inner{
  position: relative;
}

.nav_inner{
  position: relative;
}

.nav_inner ul{
  position: absolute;
  top: 3rem;
  padding-right: 5rem;
}

.nav_inner ul::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background-color: lightgray;
}


/* 상품 리스트 */
.inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.log_inner{
  padding-bottom: 5rem;
}

.inner > h1 , .log_inner > h1, .join_inner>h1{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: 3rem 0;
}

.inner >div{
  width: calc(100% / 3 - 100px);
  display: flex;
  border: 1px solid red;
}

.list{
  margin-bottom: 50px;
  width: 100%;
}


.list img{
  width: 100%;
  margin-bottom: 1rem;
}

.list > p:first-of-type{
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* login */
.log_top{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 3rem;
}


.log_con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 3rem;
}

.log_con label {
  width: 60px;
  font-size: 20px;
}

.log_con input{
  padding:  0.5rem;
}

.log_id{
  margin-bottom: 1rem;
}

.log_btn, .join_btn{
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid lightpink;
  color: lightpink;
  font-weight: bold;
}

button:hover, .join_btn:hover{
  border: none;
  background-color: lightpink;
  color: black;
}

.log_low{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.log_low > *{
  margin-left: 2rem;
  font-size: 20px;
}

.log_low > *:hover{
  font-weight: bold;
}

.check{
  display: flex;
  justify-content: center;
  align-items: center;
}

.check input{
  margin-right: 0.5rem;
}

/* 회원가입 */
.join_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join_inner *{
  font-size: 20px;
}

.join_inner >div{
  width: 40%;
}

.join_inner >div input{
  width: 100%;
  padding: 0.5rem;
}

.message{
  font-size: 16px;
  color: lightcoral;
}

.join_btn{
  width: 100%;
  text-decoration: none;
  color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 디테일 */

.de_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.de_info{
  display: flex;
  justify-content: center;
  padding: 3rem 0 5rem;
}

.de_inner img{
  width: 20%;
  margin-right: 5rem;
}

.de_txt *{
  font-size: 20px;
}

.de_txt p:first-of-type{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.de_txt p:last-of-type{
  margin: 2rem 0;
}

.num {
  display: flex;
  margin-bottom: 2rem;
}

.plus{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border: 1px solid lightpink;
  color: lightpink;
  transition: 0.3s;
}

.plus:hover{
  border: none;
  background-color: lightpink;
  color: black;
}

.buy, .cart{
  font-size: 16px;
  background-color: lightpink;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}

.buy:hover, .cart:hover{
  background-color: lightcoral;
  color: white;
}

.cart{
  margin-left: 2rem;
}

.de_page{
  width: 100%;
}

.de_page img{
  width: 100%;
}

